<div id="search_results" class="s_box_3">
  <form action="/search" class="s_form" onsubmit="doSrch(this); return false;">
    <input type="hidden" name="ss" id="ss" value="">
    <input type="hidden" name="sort" value="">
    <input class="left s_w_350 s_mr_10 s_text" type="text" name="term" value="abkcls">
    <span class="s_button_2 s_button_2_blue s_w_70"><button type="submit" class="s_w_70">Search</button></span>
  </form>
  <h2>Search results</h2>

  <div class="s_sub clearfix">
    <ul class="s_filter_1 s_mb_5">
      <li class="s_label">Show:</li>
      <li class="selected"><a href="/search?term=abkcls">All</a></li>
      <li><a href="/search/section/new-phones?term=abkcls">Phones</a></li>
      <li><a href="/search/section/reviews?term=abkcls">Reviews</a></li>
      <li><a href="/search/section/news?term=abkcls">News</a></li>
      <li><a href="/search/section/discussions?term=abkcls">Discussions</a></li>
    </ul>

    <ul class="s_filter_1">
      <li class="s_label">Sort:</li>
      <li class="selected"><a href="/search/sort/relevance?term=abkcls">Relevance</a></li>
      <li><a href="/search/sort/date?term=abkcls">Date</a></li>
    </ul>
  </div>

  <div id="phones">
    <p class="s_mb_5 clearfix"><span>Phones</span></p>

    <span class="clear s_mb_20"></span>
    <div class="s_no_result">
      <p class="align_center">There are no results for your search for phones.</p>
    </div>                
  </div>

  <p class="clearfix"><span>Reviews</span></p>

  <span class="clear s_mb_20"></span>
  <div class="s_no_result">
    <p class="align_center">There are no results for your search for reviews.</p>
  </div>                

  <p class="clearfix"><span>News</span></p>
  <span class="clear s_mb_20"></span>
  <div class="s_no_result">
    <p class="align_center">There are no results for your search about articles.</p>
  </div>                
</div>
