<div id="search_results" class="s_box_3">
   <form action="/search" class="s_form" onsubmit="doSrch(this); return false;">
      <input type="hidden" name="ss" id="ss" value="">
      <input type="hidden" name="sort" value="">
      <input class="left s_w_350 s_mr_10 s_text" type="text" name="term" value="zte">
      <span class="s_button_2 s_button_2_blue s_w_70"><button type="submit" class="s_w_70">Search</button></span>
   </form>
   <h2>Search results</h2>
   <div class="s_sub clearfix">
      <ul class="s_filter_1 s_mb_5">
         <li class="s_label">Show:</li>
         <li class="selected"><a href="/search?term=zte">All</a></li>
         <li><a href="/search/section/new-phones?term=zte">Phones</a></li>
         <li><a href="/search/section/reviews?term=zte">Reviews</a></li>
         <li><a href="/search/section/news?term=zte">News</a></li>
         <li><a href="/search/section/discussions?term=zte">Discussions</a></li>
      </ul>
      <ul class="s_filter_1">
         <li class="s_label">Sort:</li>
         <li class="selected"><a href="/search/sort/relevance?term=zte">Relevance</a></li>
         <li><a href="/search/sort/date?term=zte">Date</a></li>
      </ul>
   </div>
   <div id="manufacturers" class="s_mb_20">
      <p class="border_ddd s_mb_5 clearfix"><span>All phones by</span></p>
      <div class="s_brand">
         <a class="clearfix" href="/phones/manufacturers/ZTE" title="View all ZTE cell phones.">
         <img src="https://www.phonearena.com/showimage.php?m=Manufacturers&amp;f=logo&amp;id=83" alt="View all ZTE cell phones."> ZTE</a>
      </div>
      <span class="clear"></span>
   </div>
   <div id="phones">
      <p class="s_mb_5 clearfix"><span>Phones</span></p>
      <span class="clear"></span>
      <div class="s_listing">
         <div class="s_block_4 s_block_4_s115  s_fst  clearfix">
            <div class="quicklookdiv" style="display: none;">
               <a href="/phones/ZTE-Zpad_id10428">
                  <div class="quicklookdiv">
                     <div class="bottom-line">
                        <div class="specsicons display" data-scroll-to="#display_cPoint">10.1"<br><span>1920 x 1200 pixels</span></div>
                        <div class="specsicons camera" data-scroll-to="#camera_cPoint">
                           5 MP<br>
                           <span>5 MP front</span>
                        </div>
                        <div class="specsicons cpu" data-scroll-to="#hardware_cPoint">Qualcomm Snapdragon<br>
                           <span>Octa-core</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="morespecs">
                        <span data-scroll-to="#hardware_cPoint">RAM: <span>2 GB</span></span><br>
                        <span data-scroll-to="#hardware_cPoint">MEMORY: <span>16 GB + MicroSD</span></span><br>
                        <span data-scroll-to="#battery_cPoint">BATTERY: <span>9070 mAh</span></span>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
            <a class="s_thumb" href="/phones/ZTE-Zpad_id10428"><img src="//i-cdn.phonearena.com/images/phones/65858-specs/ZTE-Zpad.jpg" alt="ZTE Zpad" widht="150" height="150"></a>
            <h3><a href="/phones/ZTE-Zpad_id10428">ZTE Zpad</a></h3>
         </div>
         <div class="s_block_4 s_block_4_s115    clearfix">
            <div class="quicklookdiv" style="display: none;">
               <a href="/phones/ZTE-Tempo_id10305">
                  <div class="quicklookdiv">
                     <div class="bottom-line">
                        <div class="specsicons display" data-scroll-to="#display_cPoint">4.5"<br><span>480 x 854 pixels</span></div>
                        <div class="specsicons camera" data-scroll-to="#camera_cPoint">
                           5 MP<br>
                           <span>2 MP front</span>            
                        </div>
                        <div class="specsicons cpu" data-scroll-to="#hardware_cPoint">Qualcomm Snapdragon 210<br>
                           <span>Quad-core, 1100 MHz</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="morespecs">
                        <span data-scroll-to="#hardware_cPoint">RAM: <span>1 GB</span></span><br>
                        <span data-scroll-to="#hardware_cPoint">MEMORY: <span>8 GB + MicroSD</span></span><br>
                        <span data-scroll-to="#battery_cPoint">BATTERY: <span>2200 mAh</span>
                        </span>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
            <a class="s_thumb" href="/phones/ZTE-Tempo_id10305"><img src="//i-cdn.phonearena.com/images/phones/63844-specs/ZTE-Tempo.jpg" alt="ZTE Tempo" widht="150" height="150"></a>
            <h3><a href="/phones/ZTE-Tempo_id10305">ZTE Tempo</a></h3>
         </div>
         <div class="s_block_4 s_block_4_s115    clearfix">
            <div class="quicklookdiv" style="display: none;">
               <a href="/phones/ZTE-Prestige_id9786">
                  <div class="quicklookdiv">
                     <div class="bottom-line">
                        <div class="specsicons display" data-scroll-to="#display_cPoint">5"<br><span>480 x 854 pixels</span></div>
                        <div class="specsicons camera" data-scroll-to="#camera_cPoint">
                           5 MP<br>
                           <span>2 MP front</span>            
                        </div>
                        <div class="specsicons cpu" data-scroll-to="#hardware_cPoint">Qualcomm Snapdragon 210<br>
                           <span>Quad-core, 1100 MHz</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="morespecs">
                        <span data-scroll-to="#hardware_cPoint">RAM: <span>1 GB</span></span><br>
                        <span data-scroll-to="#hardware_cPoint">MEMORY: <span>8 GB + MicroSD</span></span><br>
                        <span data-scroll-to="#battery_cPoint">BATTERY: <span>2300 mAh</span>
                        </span>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
            <a class="s_thumb" href="/phones/ZTE-Prestige_id9786"><img src="//i-cdn.phonearena.com/images/phones/58002-specs/ZTE-Prestige.jpg" alt="ZTE Prestige" widht="150" height="150"></a>
            <h3><a href="/phones/ZTE-Prestige_id9786">ZTE Prestige</a></h3>
         </div>
         <div class="s_block_4 s_block_4_s115  s_lst  clearfix">
            <div class="quicklookdiv" style="display: none;">
               <a href="/phones/ZTE-Obsidian_id9566">
                  <div class="quicklookdiv">
                     <div class="bottom-line">
                        <div class="specsicons display" data-scroll-to="#display_cPoint">4.5"<br><span>480 x 854 pixels</span></div>
                        <div class="specsicons camera" data-scroll-to="#camera_cPoint">
                           5 MP<br>
                           <span>2 MP front</span>            
                        </div>
                        <div class="specsicons cpu" data-scroll-to="#hardware_cPoint">MediaTek<br>
                           <span>Quad-core, 1000 MHz</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="morespecs">
                        <span data-scroll-to="#hardware_cPoint">RAM: <span>1 GB</span></span><br>
                        <span data-scroll-to="#hardware_cPoint">MEMORY: <span>4 GB + MicroSD</span></span><br>
                        <span data-scroll-to="#battery_cPoint">BATTERY: <span>1800 mAh</span>
                        </span>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
            <a class="s_thumb" href="/phones/ZTE-Obsidian_id9566"><img src="//i-cdn.phonearena.com/images/phones/65652-specs/ZTE-Obsidian.jpg" alt="ZTE Obsidian" widht="150" height="150"></a>
            <h3><a href="/phones/ZTE-Obsidian_id9566">ZTE Obsidian</a></h3>
         </div>
         <div class="s_block_4 s_block_4_s115  s_fst  clearfix">
            <div class="quicklookdiv" style="display: none;">
               <a href="/phones/ZTE-Max_id9528">
                  <div class="quicklookdiv">
                     <div class="bottom-line">
                        <div class="specsicons display" data-scroll-to="#display_cPoint">5.7"<br><span>720 x 1280 pixels</span></div>
                        <div class="specsicons camera" data-scroll-to="#camera_cPoint">
                           8 MP<br>
                           <span>1 megapixel front</span>            
                        </div>
                        <div class="specsicons cpu" data-scroll-to="#hardware_cPoint">Qualcomm Snapdragon 410<br>
                           <span>Quad-core, 1200 MHz</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="morespecs">
                        <span data-scroll-to="#hardware_cPoint">RAM: <span>2 GB</span></span><br>
                        <span data-scroll-to="#hardware_cPoint">MEMORY: <span>16 GB + MicroSD</span></span><br>
                        <span data-scroll-to="#battery_cPoint">BATTERY: <span>3400 mAh</span>
                        </span>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
            <a class="s_thumb" href="/phones/ZTE-Max_id9528"><img src="//i-cdn.phonearena.com/images/phones/54267-specs/ZTE-Max.jpg" alt="ZTE Max+" widht="150" height="150"></a>
            <h3><a href="/phones/ZTE-Max_id9528">ZTE Max+</a></h3>
         </div>
         <div class="s_block_4 s_block_4_s115    clearfix">
            <div class="quicklookdiv" style="display: none;">
               <a href="/phones/ZTE-Axon_id9768">
                  <div class="quicklookdiv">
                     <div class="bottom-line">
                        <div class="specsicons display" data-scroll-to="#display_cPoint">5.5"<br><span>1080 x 1920 pixels</span></div>
                        <div class="specsicons camera" data-scroll-to="#camera_cPoint">
                           13 MP<br>
                           <span>8 MP front</span>            
                        </div>
                        <div class="specsicons cpu" data-scroll-to="#hardware_cPoint">Qualcomm Snapdragon 801<br>
                           <span>Quad-core, 2300 MHz</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="morespecs">
                        <span data-scroll-to="#hardware_cPoint">RAM: <span>2 GB</span></span><br>
                        <span data-scroll-to="#hardware_cPoint">MEMORY: <span>32 GB</span></span><br>
                        <span data-scroll-to="#battery_cPoint">BATTERY: <span>3000 mAh</span>
                        </span>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
            <a class="s_thumb" href="/phones/ZTE-Axon_id9768"><img src="//i-cdn.phonearena.com/images/phones/57394-specs/ZTE-Axon.jpg" alt="ZTE Axon" widht="150" height="150"></a>
            <h3><a href="/phones/ZTE-Axon_id9768">ZTE Axon</a></h3>
         </div>
         <div class="s_block_4 s_block_4_s115    clearfix">
            <div class="quicklookdiv" style="display: none;">
               <a href="/phones/ZTE-Maven_id9485">
                  <div class="quicklookdiv">
                     <div class="bottom-line">
                        <div class="specsicons display" data-scroll-to="#display_cPoint">4.5"<br><span>480 x 854 pixels</span></div>
                        <div class="specsicons camera" data-scroll-to="#camera_cPoint">
                           5 MP<br>
                           <span>0.3 MP VGA front</span>            
                        </div>
                        <div class="specsicons cpu" data-scroll-to="#hardware_cPoint">Qualcomm Snapdragon 410<br>
                           <span>Quad-core, 1200 MHz</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="morespecs">
                        <span data-scroll-to="#hardware_cPoint">RAM: <span>1 GB</span></span><br>
                        <span data-scroll-to="#hardware_cPoint">MEMORY: <span>8 GB + MicroSD</span></span><br>
                        <span data-scroll-to="#battery_cPoint">BATTERY: <span>2100 mAh</span>
                        </span>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
            <a class="s_thumb" href="/phones/ZTE-Maven_id9485"><img src="//i-cdn.phonearena.com/images/phones/53864-specs/ZTE-Maven.jpg" alt="ZTE Maven" widht="150" height="150"></a>
            <h3><a href="/phones/ZTE-Maven_id9485">ZTE Maven</a></h3>
         </div>
         <div class="s_block_4 s_block_4_s115  s_lst  clearfix">
            <div class="quicklookdiv" style="display: none;">
               <a href="/phones/ZTE-Fanfare_id9404">
                  <div class="quicklookdiv">
                     <div class="bottom-line">
                        <div class="specsicons display" data-scroll-to="#display_cPoint">4.5"<br><span>480 x 854 pixels</span></div>
                        <div class="specsicons camera" data-scroll-to="#camera_cPoint">
                           5 MP<br>
                           <span>0.3 MP VGA front</span>            
                        </div>
                        <div class="specsicons cpu" data-scroll-to="#hardware_cPoint">Qualcomm Snapdragon 200<br>
                           <span>Dual-core, 1200 MHz</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="morespecs">
                        <span data-scroll-to="#hardware_cPoint">RAM: <span>1 GB</span></span><br>
                        <span data-scroll-to="#hardware_cPoint">MEMORY: <span>4 GB + MicroSD</span></span><br>
                        <span data-scroll-to="#battery_cPoint">BATTERY: <span>2000 mAh</span>
                        </span>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
            <a class="s_thumb" href="/phones/ZTE-Fanfare_id9404"><img src="//i-cdn.phonearena.com/images/phones/53193-specs/ZTE-Fanfare.jpg" alt="ZTE Fanfare" widht="150" height="150"></a>
            <h3><a href="/phones/ZTE-Fanfare_id9404">ZTE Fanfare</a></h3>
         </div>
         <div class="s_block_4 s_block_4_s115  s_fst  clearfix">
            <div class="quicklookdiv" style="display: none;">
               <a href="/phones/ZTE-Quartz_id9167">
                  <div class="quicklookdiv">
                     <div class="bottom-line">
                        <div class="specsicons display" data-scroll-to="#display_cPoint">5.5"<br><span>540 x 960 pixels</span></div>
                        <div class="specsicons camera" data-scroll-to="#camera_cPoint">
                           8 MP<br>
                           <span>1 megapixel front</span>            
                        </div>
                        <div class="specsicons cpu" data-scroll-to="#hardware_cPoint">Qualcomm Snapdragon 200<br>
                           <span>Dual-core, 1200 MHz</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="morespecs">
                        <span data-scroll-to="#hardware_cPoint">RAM: <span>1 GB</span></span><br>
                        <span data-scroll-to="#hardware_cPoint">MEMORY: <span>8 GB + MicroSD</span></span><br>
                        <span data-scroll-to="#battery_cPoint">BATTERY: <span>3400 mAh</span>
                        </span>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
            <a class="s_thumb" href="/phones/ZTE-Quartz_id9167"><img src="//i-cdn.phonearena.com/images/phones/51559-specs/ZTE-Quartz.jpg" alt="ZTE Quartz" widht="150" height="150"></a>
            <h3><a href="/phones/ZTE-Quartz_id9167">ZTE Quartz</a></h3>
         </div>
         <div class="s_block_4 s_block_4_s115    clearfix">
            <div class="quicklookdiv" style="display: none;">
               <a href="/phones/ZTE-Speed_id9075">
                  <div class="quicklookdiv">
                     <div class="bottom-line">
                        <div class="specsicons display" data-scroll-to="#display_cPoint">4.5"<br><span>540 x 960 pixels</span></div>
                        <div class="specsicons camera" data-scroll-to="#camera_cPoint">
                           5 MP<br>
                           <span>2 MP front</span>            
                        </div>
                        <div class="specsicons cpu" data-scroll-to="#hardware_cPoint">Qualcomm Snapdragon 410<br>
                           <span>Quad-core, 1200 MHz</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="morespecs">
                        <span data-scroll-to="#hardware_cPoint">RAM: <span>1 GB</span></span><br>
                        <span data-scroll-to="#hardware_cPoint">MEMORY: <span>8 GB + MicroSD</span></span><br>
                        <span data-scroll-to="#battery_cPoint">BATTERY: <span>2000 mAh</span>
                        </span>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
            <a class="s_thumb" href="/phones/ZTE-Speed_id9075"><img src="//i-cdn.phonearena.com/images/phones/51033-specs/ZTE-Speed.jpg" alt="ZTE Speed" widht="150" height="150"></a>
            <h3><a href="/phones/ZTE-Speed_id9075">ZTE Speed</a></h3>
         </div>
      </div>
      <span class="clear"></span>
      <div class="s_more_results">
         <a href="/search/section/new-phones?term=zte">See all 254 results</a>
      </div>
   </div>
   <p class="clearfix"><span>Reviews</span></p>
   <span class="clear"></span>
   <div>
      <div class="ln-item left review_home ">
         <a href="/reviews/ZTE-Blade-V8-Pro-Review_id4310" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/review/4310-thumb/ZTE-Blade-V8-Pro-Review.jpg" alt="ZTE Blade V8 Pro Review" width="100" height="100">
            <h3 class="title"><a href="/reviews/ZTE-Blade-V8-Pro-Review_id4310">ZTE Blade V8 Pro Review</a></h3>
            <a href="/reviews/ZTE-Blade-V8-Pro-Review_id4310">
               <span class="desc">
                  <div class="s_rating_box s_rating_block s_pa_rating">
                     <span class="s_rating_summary">
                     <span class="s_rating_overal">8</span>
                     </span>
                     <span class="s_rating_bar"><span class="green" style="width: 80%"></span></span>
                  </div>
               </span>
            </a>
            <a href="/reviews/ZTE-Blade-V8-Pro-Review_id4310"><span class="meta">08 Feb 2017, 08:29 | by</span> <span class="author">Stephen S.</span></a><span class="clear"></span>
         </div>
      </div>
      <div class="ln-item left review_home ">
         <a href="/reviews/ZTE-Axon-7-Mini-Review_id4284" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/review/4284-thumb/ZTE-Axon-7-Mini-Review.jpg" alt="ZTE Axon 7 Mini Review" width="100" height="100">
            <h3 class="title"><a href="/reviews/ZTE-Axon-7-Mini-Review_id4284">ZTE Axon 7 Mini Review</a></h3>
            <a href="/reviews/ZTE-Axon-7-Mini-Review_id4284">
               <span class="desc">
                  <div class="s_rating_box s_rating_block s_pa_rating">
                     <span class="s_rating_summary">
                     <span class="s_rating_overal">6.8</span>
                     </span>
                     <span class="s_rating_bar"><span class="yellow" style="width: 68%"></span></span>
                  </div>
               </span>
            </a>
            <a href="/reviews/ZTE-Axon-7-Mini-Review_id4284"><span class="meta">07 Dec 2016, 10:15 | by</span> <span class="author">Stephen S.</span></a><span class="clear"></span>
         </div>
      </div>
      <div class="ln-item left review_home ">
         <a href="/reviews/ZTE-Nubia-Z9-Review_id4074" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/review/4074-thumb/ZTE-Nubia-Z9-Review.jpg" alt="ZTE Nubia Z9 Review" width="100" height="100">
            <h3 class="title"><a href="/reviews/ZTE-Nubia-Z9-Review_id4074">ZTE Nubia Z9 Review</a></h3>
            <a href="/reviews/ZTE-Nubia-Z9-Review_id4074">
               <span class="desc">
                  <div class="s_rating_box s_rating_block s_pa_rating">
                     <span class="s_rating_summary">
                     <span class="s_rating_overal">4.5</span>
                     </span>
                     <span class="s_rating_bar"><span class="orange" style="width: 45%"></span></span>
                  </div>
               </span>
            </a>
            <a href="/reviews/ZTE-Nubia-Z9-Review_id4074"><span class="meta">18 Sep 2015, 09:10 | by</span> <span class="author">Paul K.</span></a><span class="clear"></span>
         </div>
      </div>
      <div class="ln-item left review_home ">
         <a href="/reviews/ZTE-Axon-Mini-review_id4150" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/review/4150-thumb/ZTE-Axon-Mini-review.jpg" alt="ZTE Axon Mini review" width="100" height="100">
            <h3 class="title"><a href="/reviews/ZTE-Axon-Mini-review_id4150">ZTE Axon Mini review</a></h3>
            <a href="/reviews/ZTE-Axon-Mini-review_id4150">
               <span class="desc">
                  <div class="s_rating_box s_rating_block s_pa_rating">
                     <span class="s_rating_summary">
                     <span class="s_rating_overal">4</span>
                     </span>
                     <span class="s_rating_bar"><span class="orange" style="width: 40%"></span></span>
                  </div>
               </span>
            </a>
            <a href="/reviews/ZTE-Axon-Mini-review_id4150"><span class="meta">15 Jan 2016, 03:40 | by</span> <span class="author">Paul K.</span></a><span class="clear"></span>
         </div>
      </div>
      <div class="ln-item left review_home ">
         <a href="/reviews/ZTE-Grand-X-Max-Review_id3947" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/review/3947-thumb/ZTE-Grand-X-Max-Review.jpg" alt="ZTE Grand X Max+ Review" width="100" height="100">
            <h3 class="title"><a href="/reviews/ZTE-Grand-X-Max-Review_id3947">ZTE Grand X Max+ Review</a></h3>
            <a href="/reviews/ZTE-Grand-X-Max-Review_id3947">
               <span class="desc">
                  <div class="s_rating_box s_rating_block s_pa_rating">
                     <span class="s_rating_summary">
                     <span class="s_rating_overal">8</span>
                     </span>
                     <span class="s_rating_bar"><span class="green" style="width: 80%"></span></span>
                  </div>
               </span>
            </a>
            <a href="/reviews/ZTE-Grand-X-Max-Review_id3947"><span class="meta">11 Feb 2015, 04:40 | by</span> <span class="author">John V.</span></a><span class="clear"></span>
         </div>
      </div>
      <div class="ln-item left review_home ">
         <a href="/reviews/ZTE-Axon-Pro-Review_id4047" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/review/4047-thumb/ZTE-Axon-Pro-Review.jpg" alt="ZTE Axon Pro Review" width="100" height="100">
            <h3 class="title"><a href="/reviews/ZTE-Axon-Pro-Review_id4047">ZTE Axon Pro Review</a></h3>
            <a href="/reviews/ZTE-Axon-Pro-Review_id4047">
               <span class="desc">
                  <div class="s_rating_box s_rating_block s_pa_rating">
                     <span class="s_rating_summary">
                     <span class="s_rating_overal">8.5</span>
                     </span>
                     <span class="s_rating_bar"><span class="green" style="width: 85%"></span></span>
                  </div>
               </span>
            </a>
            <a href="/reviews/ZTE-Axon-Pro-Review_id4047"><span class="meta">27 Jul 2015, 14:07 | by</span> <span class="author">John V.</span></a><span class="clear"></span>
         </div>
      </div>
      <div class="ln-item left review_home ">
         <a href="/reviews/ZTE-SPRO-2-Review_id3990" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/review/3990-thumb/ZTE-SPRO-2-Review.jpg" alt="ZTE SPRO 2 Review" width="100" height="100">
            <h3 class="title"><a href="/reviews/ZTE-SPRO-2-Review_id3990">ZTE SPRO 2 Review</a></h3>
            <a href="/reviews/ZTE-SPRO-2-Review_id3990">
               <span class="desc">
                  <div class="s_rating_box s_rating_block s_pa_rating">
                     <span class="s_rating_summary">
                     <span class="s_rating_overal">8</span>
                     </span>
                     <span class="s_rating_bar"><span class="green" style="width: 80%"></span></span>
                  </div>
               </span>
            </a>
            <a href="/reviews/ZTE-SPRO-2-Review_id3990"><span class="meta">20 Apr 2015, 23:32 | by</span> <span class="author">John V.</span></a><span class="clear"></span>
         </div>
      </div>
      <div class="ln-item left review_home ">
         <a href="/reviews/ZTE-ZMAX-Review_id3811" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/review/3811-thumb/ZTE-ZMAX-Review.jpg" alt="ZTE ZMAX Review" width="100" height="100">
            <h3 class="title"><a href="/reviews/ZTE-ZMAX-Review_id3811">ZTE ZMAX Review</a></h3>
            <a href="/reviews/ZTE-ZMAX-Review_id3811">
               <span class="desc">
                  <div class="s_rating_box s_rating_block s_pa_rating">
                     <span class="s_rating_summary">
                     <span class="s_rating_overal">8</span>
                     </span>
                     <span class="s_rating_bar"><span class="green" style="width: 80%"></span></span>
                  </div>
               </span>
            </a>
            <a href="/reviews/ZTE-ZMAX-Review_id3811"><span class="meta">03 Oct 2014, 04:08 | by</span> <span class="author">John V.</span></a><span class="clear"></span>
         </div>
      </div>
      <div class="ln-item left review_home ">
         <a href="/reviews/ZTE-Optik-Review_id3002" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/review/3002-thumb/ZTE-Optik-Review.jpg" alt="ZTE Optik Review" width="100" height="100">
            <h3 class="title"><a href="/reviews/ZTE-Optik-Review_id3002">ZTE Optik Review</a></h3>
            <a href="/reviews/ZTE-Optik-Review_id3002">
               <span class="desc">
                  <div class="s_rating_box s_rating_block s_pa_rating">
                     <span class="s_rating_summary">
                     <span class="s_rating_overal">6.5</span>
                     </span>
                     <span class="s_rating_bar"><span class="yellow" style="width: 65%"></span></span>
                  </div>
               </span>
            </a>
            <a href="/reviews/ZTE-Optik-Review_id3002"><span class="meta">06 Apr 2012, 06:20 | by</span> <span class="author">Brian K.</span></a><span class="clear"></span>
         </div>
      </div>
      <div class="ln-item left review_home ">
         <a href="/reviews/ZTE-Warp-Review_id2990" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/review/2990-thumb/ZTE-Warp-Review.jpg" alt="ZTE Warp Review" width="100" height="100">
            <h3 class="title"><a href="/reviews/ZTE-Warp-Review_id2990">ZTE Warp Review</a></h3>
            <a href="/reviews/ZTE-Warp-Review_id2990">
               <span class="desc">
                  <div class="s_rating_box s_rating_block s_pa_rating">
                     <span class="s_rating_summary">
                     <span class="s_rating_overal">7</span>
                     </span>
                     <span class="s_rating_bar"><span class="yellow" style="width: 70%"></span></span>
                  </div>
               </span>
            </a>
            <a href="/reviews/ZTE-Warp-Review_id2990"><span class="meta">28 Mar 2012, 08:45 | by</span> <span class="author">John V.</span></a><span class="clear"></span>
         </div>
      </div>
   </div>
   <span class="clear"></span>
   <div class="s_more_results">
      <a href="/search/section/reviews?term=zte">See all 14 results</a>
   </div>
   <p class="clearfix"><span>News</span></p>
   <span class="clear"></span>
   <div>
      <div class="ln-item left article_home ">
         <a href="/news/ZTE-on-Hawkeye-We-acknowledge-our-mistake_id90271" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/article/90271-thumb/ZTE-on-Hawkeye-We-acknowledge-our-mistake.jpg" alt="ZTE on Hawkeye: “We acknowledge our mistake”" width="100" height="100">
            <h3 class="title"><a href="/news/ZTE-on-Hawkeye-We-acknowledge-our-mistake_id90271">ZTE on Hawkeye: “We acknowledge our mistake”</a></h3>
            <a href="/news/ZTE-on-Hawkeye-We-acknowledge-our-mistake_id90271"><span class="meta">23 Jan 2017, 04:26 | by</span> <span class="author">Damian M.</span></a><br>
            <a href="/news/ZTE-on-Hawkeye-We-acknowledge-our-mistake_id90271" style="display: none;"><span class="desc">By what we're seeing with the poll and the Kickstarter campaign, Hawkeye's future doesn't look so bright....</span><span class="clear"></span></a>
         </div>
      </div>
      <div class="ln-item left article_home ">
         <a href="/news/ZTE-asks-the-general-public-to-name-its-new-phone_id88383" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/article/88383-thumb/ZTE-asks-the-general-public-to-name-its-new-phone.jpg" alt="ZTE asks the general public to name its new phone" width="100" height="100">
            <h3 class="title"><a href="/news/ZTE-asks-the-general-public-to-name-its-new-phone_id88383">ZTE asks the general public to name its new phone</a></h3>
            <a href="/news/ZTE-asks-the-general-public-to-name-its-new-phone_id88383"><span class="meta">29 Nov 2016, 07:04 | by</span> <span class="author">Damian M.</span></a><br>
            <a href="/news/ZTE-asks-the-general-public-to-name-its-new-phone_id88383" style="display: none;"><span class="desc">ZTE Project CSX sounds like a fancy code name for a sci-fi project, like the Death Star from Star Wars...</span><span class="clear"></span></a>
         </div>
      </div>
      <div class="ln-item left article_home ">
         <a href="/news/ZTE-is-giving-away-an-all-expenses-paid-trip-to-CES-2017_id87671" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/article/87671-thumb/ZTE-is-giving-away-an-all-expenses-paid-trip-to-CES-2017.jpg" alt="ZTE is giving away an all expenses paid trip to CES 2017" width="100" height="100">
            <h3 class="title"><a href="/news/ZTE-is-giving-away-an-all-expenses-paid-trip-to-CES-2017_id87671">ZTE is giving away an all expenses paid trip to CES 2017</a></h3>
            <a href="/news/ZTE-is-giving-away-an-all-expenses-paid-trip-to-CES-2017_id87671"><span class="meta">11 Nov 2016, 10:07 | by</span> <span class="author">Joe M.</span></a><br>
            <a href="/news/ZTE-is-giving-away-an-all-expenses-paid-trip-to-CES-2017_id87671" style="display: none;"><span class="desc">If you'd like to take a trip to Las Vegas in January to see what the world of consumer tech has in store...</span><span class="clear"></span></a>
         </div>
      </div>
      <div class="ln-item left article_home ">
         <a href="/news/ZTE-announces-which-device-has-been-voted-into-existence-for-2017_id86838" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/article/86838-thumb/ZTE-announces-which-device-has-been-voted-into-existence-for-2017.jpg" alt="ZTE announces which device has been voted into existence for 2017" width="100" height="100">
            <h3 class="title"><a href="/news/ZTE-announces-which-device-has-been-voted-into-existence-for-2017_id86838">ZTE announces which device has been voted into existence for 2017</a></h3>
            <a href="/news/ZTE-announces-which-device-has-been-voted-into-existence-for-2017_id86838"><span class="meta">20 Oct 2016, 17:09 | by</span> <span class="author">Alan F.</span></a><br>
            <a href="/news/ZTE-announces-which-device-has-been-voted-into-existence-for-2017_id86838" style="display: none;"><span class="desc">ZTE announced today that after counting thousands of votes from 176 countries, it is naming the winner...</span><span class="clear"></span></a>
         </div>
      </div>
      <div class="ln-item left article_home ">
         <a href="/news/ZTE-is-crowdsourcing-a-mobile-device-and-wants-your-ideas-cash-prizes-are-involved_id83826" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/article/83826-thumb/ZTE-is-crowdsourcing-a-mobile-device-and-wants-your-ideas-cash-prizes-are-involved.jpg" alt="ZTE is crowdsourcing a mobile device and wants your ideas (cash prizes are involved)" width="100" height="100">
            <h3 class="title"><a href="/news/ZTE-is-crowdsourcing-a-mobile-device-and-wants-your-ideas-cash-prizes-are-involved_id83826">ZTE is crowdsourcing a mobile device and wants your ideas (cash prizes are involved)</a></h3>
            <a href="/news/ZTE-is-crowdsourcing-a-mobile-device-and-wants-your-ideas-cash-prizes-are-involved_id83826"><span class="meta">03 Aug 2016, 09:49 | by</span> <span class="author">Florin T.</span></a><br>
            <a href="/news/ZTE-is-crowdsourcing-a-mobile-device-and-wants-your-ideas-cash-prizes-are-involved_id83826" style="display: none;"><span class="desc">Here's your chance to make your dream phone (manufactured by ZTE)...</span><span class="clear"></span></a>
         </div>
      </div>
      <div class="ln-item left article_home ">
         <a href="/news/ZTE-to-open-23-retail-stores-this-year_id81600" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/article/81600-thumb/ZTE-to-open-23-retail-stores-this-year.jpg" alt="ZTE to open 23 retail stores this year" width="100" height="100">
            <h3 class="title"><a href="/news/ZTE-to-open-23-retail-stores-this-year_id81600">ZTE to open 23 retail stores this year</a></h3>
            <a href="/news/ZTE-to-open-23-retail-stores-this-year_id81600"><span class="meta">28 May 2016, 10:28 | by</span> <span class="author">Alan F.</span></a><br>
            <a href="/news/ZTE-to-open-23-retail-stores-this-year_id81600" style="display: none;"><span class="desc">ZTE announced today that its plans to open 23 retail stores in China and in Europe. While the U.S. won't...</span><span class="clear"></span></a>
         </div>
      </div>
      <div class="ln-item left article_home ">
         <a href="/news/ZTE-claims-a-breakthrough-in-5G-research_id68401" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/article/68401-thumb/ZTE-claims-a-breakthrough-in-5G-research.jpg" alt="ZTE claims a breakthrough in 5G research" width="100" height="100">
            <h3 class="title"><a href="/news/ZTE-claims-a-breakthrough-in-5G-research_id68401">ZTE claims a breakthrough in 5G research</a></h3>
            <a href="/news/ZTE-claims-a-breakthrough-in-5G-research_id68401"><span class="meta">18 Apr 2015, 23:31 | by</span> <span class="author">Maxwell R.</span></a><br>
            <a href="/news/ZTE-claims-a-breakthrough-in-5G-research_id68401" style="display: none;"><span class="desc">In what it is terming “Pre5G,” ZTE says that it has made a significant breakthrough with a new Multi-User...</span><span class="clear"></span></a>
         </div>
      </div>
      <div class="ln-item left article_home ">
         <a href="/news/ZTE-intros-the-Blade-V7-Plus-with-bigger-battery-but-outdated-specs_id95677" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/article/95677-thumb/ZTE-intros-the-Blade-V7-Plus-with-bigger-battery-but-outdated-specs.jpg" alt="ZTE intros the Blade V7 Plus with bigger battery, but outdated specs" width="100" height="100">
            <h3 class="title"><a href="/news/ZTE-intros-the-Blade-V7-Plus-with-bigger-battery-but-outdated-specs_id95677">ZTE intros the Blade V7 Plus with bigger battery, but outdated specs</a></h3>
            <a href="/news/ZTE-intros-the-Blade-V7-Plus-with-bigger-battery-but-outdated-specs_id95677"><span class="meta"><span class="timestamp" title="Tue, 04 Jul 2017 13:27:00 -0500">3 days ago, 13:27</span> | by</span> <span class="author">Cosmin V.</span></a><br>
            <a href="/news/ZTE-intros-the-Blade-V7-Plus-with-bigger-battery-but-outdated-specs_id95677" style="display: none;"><span class="desc">Right off the bat, it's worth noting that the smartphone ships with Android 6.0 Marshmallow operating...</span><span class="clear"></span></a>
         </div>
      </div>
      <div class="ln-item left article_home ">
         <a href="/news/ZTE-introduces-its-new-logo_id64202" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/article/64202-thumb/ZTE-introduces-its-new-logo.jpg" alt="ZTE introduces its new logo" width="100" height="100">
            <h3 class="title"><a href="/news/ZTE-introduces-its-new-logo_id64202">ZTE introduces its new logo</a></h3>
            <a href="/news/ZTE-introduces-its-new-logo_id64202"><span class="meta">30 Dec 2014, 00:51 | by</span> <span class="author">Alan F.</span></a><br>
            <a href="/news/ZTE-introduces-its-new-logo_id64202" style="display: none;"><span class="desc">Chinese smartphone manufacturer ZTE is changing the look of its corporate logo. The company says that...</span><span class="clear"></span></a>
         </div>
      </div>
      <div class="ln-item left article_home ">
         <a href="/news/ZTE-becomes-official-smartphone-for-three-NBA-teams_id62241" class="hblock"></a>
         <div>
            <img src="//i-cdn.phonearena.com/images/article/62241-thumb/ZTE-becomes-official-smartphone-for-three-NBA-teams.jpg" alt="ZTE becomes official smartphone for three NBA teams" width="100" height="100">
            <h3 class="title"><a href="/news/ZTE-becomes-official-smartphone-for-three-NBA-teams_id62241">ZTE becomes official smartphone for three NBA teams</a></h3>
            <a href="/news/ZTE-becomes-official-smartphone-for-three-NBA-teams_id62241"><span class="meta">28 Oct 2014, 10:49 | by</span> <span class="author">Alan F.</span></a><br>
            <a href="/news/ZTE-becomes-official-smartphone-for-three-NBA-teams_id62241" style="display: none;"><span class="desc">ZTE's USA arm has become the official smartphone manufacturer for three teams in the NBA. The New York...</span><span class="clear"></span></a>
         </div>
      </div>
   </div>
   <span class="clear"></span>
   <div class="s_more_results">
      <a href="/search/section/news?term=zte">See all 584 results</a>
   </div>
</div>
